//Color Variable
$primary-color: #414f6b;
$gray-color: #b0b4be;

//Font-family variable
$loto: 'Lato', sans-serif;
$oswald: 'Oswald', sans-serif;
$bebas : 'Bebas Neue', cursive;


// Font-size Variable
$nav-menu: 0.75rem;
$heading: 2rem;
$count: 8.476875rem;
$defult: 1rem;